.navbar {
  /* border: 1px solid red; */
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-links ul {
  display: flex;
  gap: 20px;

}
.nav-links ul a{
  font-size: 1.2rem;
  color: gray;
  font-weight: lighter;
  transition: .3s ease-in-out;
}
.nav-links ul a:hover{
  color: black;
  font-weight: 400;
}
