.teacher-detail {
  margin: 0 auto;
  margin-top: 3rem;
  //   background-color: red;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-gap: 2rem;
  align-items: center;
  padding: 3rem 1rem;
  //   max-width: 1500px;
  justify-content: center;
  border-radius: 5px;

  background-color: white;

  box-shadow: rgba(100, 100, 111, 0.2) 0px 3px 29px 0px;
  h1 {
    font-size: 2rem;
  }
  h3 {
    color: white;
    margin: 0.5rem 0.5rem 0.5rem 0;
    background-color: #5037ec;
    display: inline-block;
    padding: 0.3rem 1rem;
    border-radius: 5px;
    font-size: 0.9rem;
  }
  h2 {
    color: #db490b;
  }
  p {
    margin: 0.5rem auto;
  }
  img {
    border-radius: 5px;
  }
  button {
    padding: 1rem 2rem;
    border-radius: 5px;
    border: none;
    background-color: #db490b;
    color: white;
  }
}

@media (max-width: 750px) {
  .teacher-detail {
    grid-template-columns: 1fr;
  }
}
