.nav {
  // padding: 1rem 4rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .toggleMenu {
    display: none;
  }
}
.nav-links ul {
  display: flex;
  gap: 20px;
  align-items: center;
  // color: gray;

  .profile-icon {
    font-size: 1.5rem;
    // margin-left: .5rem;
    cursor: pointer;
  }
}
.nav-links ul a {
  font-size: 1.2rem;
  // color: gray;
  // font-weight: lighter;
  font-weight: light;
  transition: 0.3s ease-in-out;
}
.nav-links ul a:hover {
  color: black;
  font-weight: 400;
}

@media (max-width: 750px) {
  .navbar {
    padding: 0 1rem;
  }
  .nav-wrapper {
    display: block;
    justify-content: space-between;
    align-items: center;
    .nav-logo {
      padding: 1rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      a {
        color: black;
      }
    }
    .toggleMenu {
      display: block;
      font-size: 2rem;
      cursor: pointer;
    }
    .toggleMenu:active {
      transform: translateY(4px);
    }
  }

  .nav-links ul {
    display: block;

    a {
      display: block;
      padding: 1rem 2rem;
    }
  }
  ul.close {
    display: none;
  }
}
