.admin-dashboard {
  background-color: #fafafa;

  button.create-teachers {
    padding: 1rem 2rem;
    background-color: #5037ec;
    color: white;
    font-size: 1.5rem;
    border: none;
    cursor: pointer;
    margin-top: 3rem;
    border-radius: 8px;
  }
}
