.create-teacher-form {
  //   background-color: red;
  // background-color: white;
  padding: 1rem;
  padding-bottom: 4rem;
  border-radius: 5px;
  // width: 80%;

  max-width: 600px;
  margin: 0 auto;

  // box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
  //   rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;

  h1 {
    padding-top: 3rem;
    font-size: 3rem;
    margin-bottom: 3rem;
    font-weight: bold;
    text-align: center;
  }

  .container {
    margin-top: 2rem;
  }
  label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: lighter;
    span {
      font-style: italic;
      color: red;
    }
  }
  .mb-2 {
    margin-bottom: 1rem;
  }

  input {
    // padding: 0.8rem;
    // border-radius: 5px;
    // width: 100%;
    // outline: none;
    // border: 1px solid rgb(183, 183, 183);
    // box-sizing: border-box;
    // margin-top: 0.5rem;
    padding: 0.8rem;
    border-radius: 5px;
    width: 100%;
    outline: none;
    border: 1px solid rgb(183, 183, 183);
    box-sizing: border-box;
    margin-top: 0.5rem;
  }
  button.create {
    padding: 0.8rem 1.7rem;
    border-radius: 5px;
    border: none;
    background-color: #5037ec;
    color: white;
    font-weight: bold;
    width: 100%;
    margin-top: 1rem;
    cursor: pointer;
  }
}

// }

@media (max-width: 750px) {
  .create-teacher-form {
    // background-color: red;
  }
}
