.teacher-table {
  margin-top: 4rem;
  h1 {
    margin: 4rem auto;
  }
  .teacher-item {
    background-color: white;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.5rem;

    div {
      display: flex;
      align-items: center;
    }
    .right {
      font-size: 1.5rem;
      color: #db490b;

      a {
        color: #5037ec;
        margin: 0 1rem;
      }
      a.delete{
        color: red;
      }
    }

    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin-right: 1rem;
    }
  }
}
