.home-page-wrapper {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  height: 100vh;
}

.home-page img {
  width: 100%;
  margin: 0 auto;
  display: flex;
  border-radius: 100%;
}
.home-page-wrapper .item {
  width: 50%;
}
.home-page-wrapper .item-right {
  width: 80%;
}
.home-page-wrapper h1 {
  font-size: 3rem;
}
.home-page-wrapper h1 span {
  color: #5037ec;
}
.home-page-wrapper p {
  margin: 2rem auto;
  color: gray;
  line-height: 1.5;
  font-size: 1.2rem;
}

.home-page-wrapper .buttons {
  display: flex;
}
.home-page-wrapper .buttons .btn {
  /* margin-top: 4rem; */
  /* margin-top: 4rem; */
  display: block;
  padding: 1rem 2rem;
  border-radius: 8px;
  margin-right: 1rem;
  transition: 0.3s ease-in-out;
}
.home-page-wrapper .buttons .btn:hover {
  margin-top: -5px;
}

.home-page-wrapper .buttons .btn-teachers {
  background-color: #5037ec;
  color: white;
}

.home-page-wrapper .buttons .btn-semester {
  background-color: #efeef3;
  color: #5037ec;
}

@media (max-width: 1200px) {
  .home-page-wrapper {
    flex-direction: column-reverse;
    height: 100%;
  }

  .home-page-wrapper .item {
    width: 100%;
  }
  .home-page-wrapper h1 {
    /* font-size: 3rem; */
    margin-top: 2rem;
  }
  .home-page-wrapper p {
    margin: 2rem auto;
  }
}

@media (min-width:1600px) {
  .home-page-wrapper h1 {
    font-size: 4rem;
  }
}

