* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: sans-serif;
}
body{
  /* background-color: #fafafa; */

}
input {
  display: block;
}

.overflow {
  /* text-overflow: ellipsis; */
}

.container {
  width: 90%;
  margin: 0 auto;
}

.text-danger {
  color: red;
}
.text-italic {
  font-style: italic;
}

.mt-1 {
  margin-top: 5px;
}
